body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

input {
  padding: 9px 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

#balance {
  border: 1px solid black;
  background-color: white;
  margin: 10px 0;
  padding: 5px 0;
  &:before {
    content: "Balance:";
  }
}

.components {
  display: flex;
  flex-wrap: wrap;

  > div {
    background-color: #eee;
    margin: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;

    h1 {
        margin: 0 0 20px;
    }
  }
}

.button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 9px 25px;
  font-size: 0.7em;
  letter-spacing: 0.7px;
  background-color: #f58427;

  &:hover {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
}
.openBtn {
  display: flex;
  justify-content: left;
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}
#modal {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}
